.body {
    width: 1200px;
    margin: 25px;
}

.container {
    display: flex;
    margin: 15px;
}

.block__left {
    width: 35%;
    overflow: auto;
    float: left;
}

.block__right {
    width: 60%;
    overflow: auto;
    float: right;
    margin-left: 15px;
}
