.container {
    display: flex;
    margin: 15px;
}

.block__left {
    width: 35%;
    overflow: auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.block__right {
    width: 60%;
    overflow: auto;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}