// .contactInformation {
// }

.contactInformation__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactInformation__title {
    display: flex;
    justify-content: center;
}

.contactInformation__link {
    display: block;
    margin: 5px;
    text-align: center;
}

// .contactInformation__text {
//     // display: block;
// }
